h1 {
    text-align: center;
    color: #6c6c6dec;
    width: 100%;
    padding-bottom: 1rem;
    margin: 0;
}

h2 {
    margin-top: 0;
    padding: 1rem 0;
}

.header-page {
    background-color: #ebeaed;
    color: #6c6c6dec;
    margin: 0;
    padding: 4rem 0;
    width: 100%;
    text-align: center;
}

.foto-profile {
    height: 200px;
    text-align: center;
    border-radius: 50%;

}

.aboutme {
    width: 100%;
    background-color: #ebeaed;
    margin-bottom: 0;
    padding-bottom: 0;
}

body {
    margin: 0 10rem;
    text-align: center;
    background-color: #f2f0f5;
    color: #6c6c6dec;
    font-family:'Quicksand', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

footer {
    text-align: center;
    background-color: #e4e3e6;
    color: #6c6c6dec;
    margin: 0;
    padding: 0;
}

.footer-text {
    margin: 0;
    padding: 2rem 0;
}

ul.list {
    list-style: none;
    padding-left: 0;
}

ul a {
    color: #6c6c6dec;
}

.nav-list {
    display: inline;
    padding: 0;
    
}

nav {
    position: sticky;
    top: 0;
}

.menu {
    margin: 0;
    text-align: center;
    position: sticky;
    background-color: #e4e3e6;
    color: #6c6c6dec;
    
}

.ending {
    margin-bottom: 0;
    padding-bottom: 1.5rem;
}

section {
    display: flow-root;
    padding-top: 5rem;
}

.text-intro {
    padding: 2rem 8rem;
}

nav a {
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
}

nav a:hover {
    background-color: rgb(248, 213, 116);
}



