h1 {
    text-align: center;
    color: #6c6c6dec;
    width: 100%;
    padding-bottom: 1rem;
    margin: 0;
}

h2 {
    margin-top: 0;
    padding: 1rem 0;
}

.header-page {
    background-color: #ebeaed;
    color: #6c6c6dec;
    margin: 0;
    padding: 7rem 0;
    width: 100%;
    text-align: center;      
    background-image: url(pictures/photo-header2.jpg);
    background-size: cover;
    background-position: top center;
    min-height: 10rem;
}

.photo-profile {
    height: 20rem;
    text-align: center;
    border-radius: 50%;
    max-width: 100%;

}

.aboutme {
    width: 100%;
    background-color: #ebeaed;
    margin-bottom: 0;
    padding-bottom: 0;
}

body {
    margin: 0 10rem;
    text-align: center;
    background-color: #f2f0f5;
    color: #6c6c6dec;
    font-family:'Quicksand', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
}

footer {
    text-align: center;
    background-color: #e4e3e6;
    color: #6c6c6dec;
    margin: 0;
    padding: 0;
}

.footer-text {
    margin: 0;
    padding: 2rem 0;
    font-weight: bolder;
    font-style: oblique;
}

ul.list {
    list-style: none;
    padding-left: 0;
}

ul a {
    color: #6c6c6dec;
}

.nav-list {
    display: inline-block;
    padding: 0;
    max-width: 100%;
    
}

nav {
    position: sticky;
    top: 0;
}

.menu {
    margin: 0;
    text-align: center;
    position: sticky;
    background-color: #e4e3e6;
    color: #6c6c6dec;
    padding: 0.5rem;
    
}

.ending {
    margin-bottom: 0;
    padding-bottom: 1.5rem;
}

section {
    display: flow-root;
    padding-top: 5rem;
}

.text-intro {
    padding: 2rem 8rem;
}

nav a {
    text-decoration: none;
    padding: 0.5rem 3rem;
    display: inline-block;
    border-radius: 25px;
}


nav a:hover {
    background-color: rgba(245, 205, 94, 0.801);
    box-shadow: 0 0px 5px 5px rgba(248, 213, 116, 0.603);
}

.current-page a {
    background-color: rgba(247, 126, 45, 0.274);
    box-shadow: 0 0px 5px 5px rgba(247, 126, 45, 0.164);
}

ul a {
    text-decoration: none;
    font-weight: bold;
}



/*Sekce MUSIC*/

.photo-header {
    max-width: 100%;
}
